body {
    background: #C3E8BD;
    text-align: center;
    font-family: 'Rubik', sans-serif; }
  
  .intro {
    margin: 50px 0px;
    font-weight: bold; }
  
  h1 {
    margin-top: 20px;
    color: #5B7553;
    text-transform: uppercase;
    font-weight: 800;
    font-family: 'Rubik Mono One', sans-serif; }

  .d {
    color: #5B7553;
    margin-bottom: 3px;
    font-family: 'Rubik', sans-serif; }

  p {
    font-weight: 600; }

  #enter {
    border: none;
    padding: 5px 15px;
    border-radius: 5px;
    color: #96CAA2;
    background-color: #E3F4E1;
    transition: all 0.75s ease;
    -webkit-transition: all 0.75s ease;
    -moz-transition: all 0.75s ease;
    -ms-transition: all 0.75s ease;
    -o-transition: all 0.75 ease;
    font-weight: normal; }
  
  #enter:hover {
    background-color: #96CAA2;
    color: #E3F4E1; }
  
  ul {
    text-align: left;
    margin-top: 20px; }
  
  li {
    list-style: none;
    padding: 10px 20px;
    color: #5B7553;
    text-transform: capitalize;
    font-weight: 600;
    
    border-radius: 20px;
    margin-bottom: 10px;
    background: #E3F4E1;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
      -ms-transition: all 0.5s ease-in-out;
       }
  
  li:hover {
    background: #D3EECF; 
    background: -webkit-gradient(linear, left top, left bottom, from(#E3F4E1), to(#D3EECF));
      background: -webkit-linear-gradient(#E3F4E1, #D3EECF);
      background-image: -moz-linear-gradient(top, #E3F4E1, #D3EECF);
      background-image: -moz-gradient(top, #E3F4E1, #D3EECF);
    transform: scaleX(110%);}
  
  li > button {
    font-weight: normal;
    background: none;
    border: none;
    float: right;
    color: #5B7553;
    font-weight: 800; }
  
  input {
    border-radius: 5px;
    min-width: 65%;
    padding: 5px;
    border: none; }
  
  .done {
    background: #88C396 !important;
    box-shadow: 0 3px #71B781 inset;
    color: #5B7553; }
  
  .delete {
    display: none; }

  .hide {
    opacity: 0.5;
  }

  img.background {
    min-height: 100%;
    min-width: 640px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
  
    /* Зависит от размера изображения */
    @media screen and (max-width: 1440px){
      img.bg {
        left: 50%;
        margin-left: -320px;
      }
    }
    }

  input {
    text-overflow: ellipsis;
    color: #343d31;
    font-family: 'Rubik', sans-serif;}